 @import "tailwindcss";
.board {
    padding: 20px;
    margin: 20px;
    height: 700px;
    border-radius: 20px;
    border: 14px solid #0d9488; 
    background: linear-gradient(135deg, #1e3a8a 0%, #3b82f6 100%); 
    display: flex;
    gap: 100px;
}
 .columns{
    flex:1;
    border-radius: 15px;
    box-sizing: 0 2px 5px rgba(0,0,0,1);
    padding: 10px;
    background-color:bisque;
 }
 .columntitle{
    font-size: 40px;
    align-content: center;
 }
 .columnbutton {
     width:auto;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);               
    -webkit-backdrop-filter: blur(8px);       
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 12px;                       
    padding: 10px 20px;                        
    color: black;                              
    cursor: pointer;
    transition: all 0.3s ease;               
}

.columnbutton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);   
}
@keyframes fadeInSlow {
    from { opacity: 0; }
    to { opacity: 1; }
}
.animate-fade-in-slow {
    animation: fadeInSlow 0.5s ease-out forwards;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fadeInOut {
  animation: fadeInOut 1.7s ease-out forwards;
}